<div class="container">

<form >
  <div class="row align-items-start">
    <div class="col">
      <h1>Contactos</h1>
      <button type="button" routerLink="/Contactos" class="btn btn-dark">Contactos</button>
    </div>
    <div class="row align-items-start">
      <div class="col">
        <h1>Nuevo Contacto</h1>
      <button type="button" routerLink="/formulario" class="btn btn-dark">Nuevo Contacto</button>
      </div>

    </div>
   
    <div class="row align-items-start">
      <div class="col">
        <h1>Volver</h1>
        <a routerLink="./">
          <button type="button" class="btn btn-dark">Volver</button>
      </a>
      </div>

    </div>

  </div>
  
</form>


  
    
  
  </div>
  
